<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../resources/my-images/gapc-favicon.ico">

	<title>Flow Chart - Secondary Education: Filipino</title>
	<style>
.content {
    max-width: 690px;
    margin: auto;
}
</style>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:3px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-qsvf{font-size:18px;text-align:center;vertical-align:top}
.tg .tg-yw4l{text-align:center;vertical-align:top}
</style>

	

</head>

<body>



<!-- The content of your page would go here. -->
<div class="menu">
<div class="content">

	<div id="wrap">
			<div class="container">
            <h1 align="center">GOVERNOR ANDRES PASCUAL COLLEGE</h1>
			
			<h3 align="center">BACHELOR OF SECONDARY EDUCATION</h3>
			<h3 align="center">Effective June 2009-2010</h3>
			<h3 align="center">Filipino</h3>
			
			
			<h2>First Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 101</td>
    <td class="tg-yw4l">English Communication 1 </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 101</td>
    <td class="tg-yw4l">Sining ng Komunikasyon</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Hist 101</td>
    <td class="tg-yw4l">Philippine History</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 101</td>
    <td class="tg-yw4l">College Algebra</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 101</td>
    <td class="tg-yw4l">Earth Science</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Hum 101</td>
    <td class="tg-yw4l">Art Appreciation </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Psycho 101</td>
    <td class="tg-yw4l">General Psychology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CWTS 101</td>
    <td class="tg-yw4l">Civic Welfare 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 101</td>
    <td class="tg-yw4l">Self Testing Activities</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 102</td>
    <td class="tg-yw4l">English Communication 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 102</td>
    <td class="tg-yw4l">Pagbabasa at Pagsulat sa Ibat-ibang Disiplina</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 2</td>
    <td class="tg-yw4l">Biological Science</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PS 101</td>
    <td class="tg-yw4l">Politics & Governance w/ Phil. Constitution</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">SS 101</td>
    <td class="tg-yw4l">Life, Works & Writing of Rizal</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 103</td>
    <td class="tg-yw4l">Introduction sa Pag-aaral ng Wika</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">ICT 101</td>
    <td class="tg-yw4l">Introduction to Information Technology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CWTS 101</td>
    <td class="tg-yw4l">Civic Welfare 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 102</td>
    <td class="tg-yw4l">Fundamentals of Rhythmic Activities</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>
&nbsp;
				
				
				<h2>Second Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 103</td>
    <td class="tg-yw4l">Modern Communication (Writing & Oral Comm </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 104</td>
    <td class="tg-yw4l">Panimulang Linggwistika</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Music 101</td>
    <td class="tg-yw4l">Fund of Music</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CL 101</td>
    <td class="tg-yw4l">Children's Literature</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 101</td>
    <td class="tg-yw4l">Child & Adolescent Development</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 102</td>
    <td class="tg-yw4l">Educational Technology 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 105</td>
    <td class="tg-yw4l">Istruktura ng Wikang Filipino</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 103</td>
    <td class="tg-yw4l">Group Games</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Educ 103</td>
    <td class="tg-yw4l">Educational Technology 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 104</td>
    <td class="tg-yw4l">Principles of Teaching</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 105</td>
    <td class="tg-yw4l">Facilitating Learning</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 106</td>
    <td class="tg-yw4l">The Social Dimentions of Education</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Lit 101</td>
    <td class="tg-yw4l">Philippine Literature</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">DR 101</td>
    <td class="tg-yw4l">Developmental Reading 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 106</td>
    <td class="tg-yw4l">Pagtuturo at Pagtataya sa Pakikinig at Pagsasalita</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 107</td>
    <td class="tg-yw4l">Pagtuturo at Pagtataya sa Pagbabasa at Pagsusulat</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 104</td>
    <td class="tg-yw4l">Social Recreation</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>
&nbsp;

<h2>Third Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Educ 107</td>
    <td class="tg-yw4l">Teaching Profession</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 108</td>
    <td class="tg-yw4l">Principles of Teaching 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 109</td>
    <td class="tg-yw4l">Assessment of Student Learning 1</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 110</td>
    <td class="tg-yw4l">Field Studies 1 & 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 201</td>
    <td class="tg-yw4l">Logical & Critical Thinking</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 108</td>
    <td class="tg-yw4l">Introduksyon sa Pagsasalin</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 109</td>
    <td class="tg-yw4l">Introduksyon sa Pananaliksik Wika at Panitikan</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 110</td>
    <td class="tg-yw4l">Introduksyon sa Pamamahayag</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 111</td>
    <td class="tg-yw4l">Panitikan ng Rehiyon</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">SS 102</td>
    <td class="tg-yw4l">Principles of Economics w/ TAR</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 111</td>
    <td class="tg-yw4l">Assessment of Student Learning 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 112</td>
    <td class="tg-yw4l">Field Studies 3 & 4</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 113</td>
    <td class="tg-yw4l">Intro to Curriculum Development</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 202</td>
    <td class="tg-yw4l">Educational Psychology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 112</td>
    <td class="tg-yw4l">Kulturang Popular</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 113</td>
    <td class="tg-yw4l">Sanaysay at Talumpati</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 114</td>
    <td class="tg-yw4l">Panunuring Pampanitikan</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 115</td>
    <td class="tg-yw4l">Maikling Kwnetong Filipino</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

&nbsp;

<h2>Fourth Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Lit 102</td>
    <td class="tg-yw4l">Literature of the World</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 203</td>
    <td class="tg-yw4l">Non-Formal Education</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 114</td>
    <td class="tg-yw4l">Field Studies 5 & 6</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 115</td>
    <td class="tg-yw4l">Special Topics 1, 2 & 3</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 116</td>
    <td class="tg-yw4l">Panulaang Filipino</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 117</td>
    <td class="tg-yw4l">Pagbabasa ng mga Obra Maestrang Pilipino</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 118</td>
    <td class="tg-yw4l">Pagturo at Pagtataya sa Panitikan</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">20</td>
  </tr>
  
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Educ 116</td>
    <td class="tg-yw4l">Practicum</td>
    <td class="tg-yw4l">6</td>
  </tr>
  </table>
  &nbsp;
  &nbsp;
  &nbsp;
  
  <table>
  <tr>
    <th>Summary Units</th>
    <th></th>
  </tr>
  <tr>
    <td>General Education</td>
    <td>65 units</td>
  </tr>
  <tr>
    <td><h4>PROFESSIONAL EDUCATION</h4></td>
    <td></td>
  </tr>
  <tr>
    <td>Theory & Concepts</td>
    <td> 12 units</td>
  </tr>
  <tr>
    <td>Methods</td>
    <td>24 units</td>
  </tr>
  <tr>
    <td>Field Study</td>
    <td>12 units</td>
  </tr>
  <tr>
    <td>Special Topics</td>
    <td>3 units</td>
  </tr>
  <tr>
    <td>Specialization</td>
    <td>60 units</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>176 units</td>
  </tr>
</table>
  

		</div>
		</div>

<!--                                         -->


</body>

</html>
