<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../resources/my-images/gapc-favicon.ico">

	<title>Flow Chart - BS Business Administration</title>
	<style>
.content {
    max-width: 690px;
    margin: auto;
}
</style>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:3px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-qsvf{font-size:18px;text-align:center;vertical-align:top}
.tg .tg-yw4l{text-align:center;vertical-align:top}
</style>

	

</head>

<body>



<!-- The content of your page would go here. -->
<div class="menu">
<div class="content">

	<div id="wrap">
			<div class="container">
            <h1 align="center">GOVERNOR ANDRES PASCUAL COLLEGE</h1>
			
			
			<h3 align="center">Bachelor of Science In Business Administration</h3>
			<h3 align="center">Effective June 2009-2010</h3>
			
			
			
			<h2>First Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 1</td>
    <td class="tg-yw4l">English Communication 1 </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 1</td>
    <td class="tg-yw4l">Sining ng Komunikasyon</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 1</td>
    <td class="tg-yw4l">Philippine History</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 1</td>
    <td class="tg-yw4l">College Algebra</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 101</td>
    <td class="tg-yw4l">Earth Science</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 1</td>
    <td class="tg-yw4l">Principles of Management </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Psycho 1</td>
    <td class="tg-yw4l">General Psychology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CWTS 101</td>
    <td class="tg-yw4l">Civic Welfare 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 101</td>
    <td class="tg-yw4l">Self Testing Activities</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 102</td>
    <td class="tg-yw4l">English Communication 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 102</td>
    <td class="tg-yw4l">Pagbabasa at Pagsulat sa Ibat-ibang Disiplina</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 2</td>
    <td class="tg-yw4l">Biological Science</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 2</td>
    <td class="tg-yw4l">Business Organization & Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 2</td>
    <td class="tg-yw4l">Statistics/Probability</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 2</td>
    <td class="tg-yw4l">Basic Economics w/ TAR </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 3</td>
    <td class="tg-yw4l">Contemporary World Geography</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CWTS 102</td>
    <td class="tg-yw4l">Civic Welfare 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 102</td>
    <td class="tg-yw4l">Fundamentals of Rhythmic Activities</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>
&nbsp;
				
				
				<h2>Second Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 103</td>
    <td class="tg-yw4l">Modern Communication (Writing & Oral Comm </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 3</td>
    <td class="tg-yw4l">Ang Panitikang Filipino</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 4</td>
    <td class="tg-yw4l">Business Mathematics</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fin 1</td>
    <td class="tg-yw4l">Financial Managemen/Basic Business</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 4</td>
    <td class="tg-yw4l">Politics & Governance w/ Phil Constitution</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 4</td>
    <td class="tg-yw4l">Office Management & Automation</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 3</td>
    <td class="tg-yw4l">Public Administration</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 103</td>
    <td class="tg-yw4l">Group Games</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">23</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 4</td>
    <td class="tg-yw4l">Modern Communication 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Bus Law 1</td>
    <td class="tg-yw4l">Obligation & Contract</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mktg 1</td>
    <td class="tg-yw4l">Principles of Marketing</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 5</td>
    <td class="tg-yw4l">Life & Works of Rizal</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 6</td>
    <td class="tg-yw4l">Society & Culture w/ Family Planning</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Philo 1</td>
    <td class="tg-yw4l">Philosophy of Man</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 5</td>
    <td class="tg-yw4l">Wage & Salary Administration</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 4</td>
    <td class="tg-yw4l">Social Recreation</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">23</td>
  </tr>
</table>
&nbsp;

<h2>Third Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Lit 1</td>
    <td class="tg-yw4l">Literature of the Philippines</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 3</td>
    <td class="tg-yw4l">Ecology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Bus Law 2</td>
    <td class="tg-yw4l">Laws of Business Organization</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 6</td>
    <td class="tg-yw4l">Labor & Management Relations</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 7</td>
    <td class="tg-yw4l">Materials Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 8</td>
    <td class="tg-yw4l">Introduction to Microeconomics</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 14</td>
    <td class="tg-yw4l">(HRM1) Introduction to Hotel & Restaurant Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Lit 2</td>
    <td class="tg-yw4l">Literature of the World</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fin 2</td>
    <td class="tg-yw4l">Business Finance</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Art Educ</td>
    <td class="tg-yw4l">Art Education</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 4</td>
    <td class="tg-yw4l">Values Education/Professional Ethics</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 9 </td>
    <td class="tg-yw4l">Supervisory & Executive Development</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 10</td>
    <td class="tg-yw4l">Manufacturing Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 11</td>
    <td class="tg-yw4l">Planning Policy Formulation</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
</table>

&nbsp;

<h2>Fourth Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Comp Sci 1</td>
    <td class="tg-yw4l">Computer Literacy</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Psycho 11</td>
    <td class="tg-yw4l">Industrial Psychology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 12</td>
    <td class="tg-yw4l">Management In Small Business</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 13</td>
    <td class="tg-yw4l">Risk Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Acctg 1 & 2</td>
    <td class="tg-yw4l">Fundamentals of Accounting</td>
    <td class="tg-yw4l">6</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PDPR</td>
    <td class="tg-yw4l">Personality Development & Public Relations</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Tax 2</td>
    <td class="tg-yw4l">Income Tax Law</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 2</td>
    <td class="tg-yw4l">Fundamentals of Problem Solving & Programming</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 15</td>
    <td class="tg-yw4l">Import & Export Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Acctg 3</td>
    <td class="tg-yw4l">Partnership Cooperation</td>
    <td class="tg-yw4l">6</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 16</td>
    <td class="tg-yw4l">Management Practicum</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">18</td>
  </tr>
  </table>
  
  

		</div>
		</div>

<!--                                         -->


</body>

</html>
