<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../resources/my-images/gapc-favicon.ico">

	<title>Flow Chart - BS Computer Science</title>
	<style>
.content {
    max-width: 690px;
    margin: auto;
}
</style>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:3px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:3px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-qsvf{font-size:18px;text-align:center;vertical-align:top}
.tg .tg-yw4l{text-align:center;vertical-align:top}
</style>

	

</head>

<body>



<!-- The content of your page would go here. -->
<div class="menu">
<div class="content">

	<div id="wrap">
			<div class="container">
            <h1 align="center">GOVERNOR ANDRES PASCUAL COLLEGE</h1>
			
			
			<h3 align="center">Bachelor of Computer Science</h3>
			<h3 align="center">Effective June 2009-2010</h3>
			
			
			
			<h2>First Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 1</td>
    <td class="tg-yw4l">English Communication 1 </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 1</td>
    <td class="tg-yw4l">Sining ng Komunikasyon</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 1</td>
    <td class="tg-yw4l">Philippine History</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 1</td>
    <td class="tg-yw4l">College Algebra</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci A</td>
    <td class="tg-yw4l">Orientation in Information Technology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 1</td>
    <td class="tg-yw4l">Computer Fundamentals </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Psycho 1</td>
    <td class="tg-yw4l">General Psychology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CWTS 101</td>
    <td class="tg-yw4l">Civic Welfare 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 101</td>
    <td class="tg-yw4l">Self Testing Activities</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 2</td>
    <td class="tg-yw4l">English Communication 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 102</td>
    <td class="tg-yw4l">Pagbabasa at Pagsulat sa Ibat-ibang Disiplina</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 2</td>
    <td class="tg-yw4l">Fund. of Prob Solving & Quality Process</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 5</td>
    <td class="tg-yw4l">Life & Works of Rizal</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 3</td>
    <td class="tg-yw4l">Trigonometry/Analytical Geometry</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 2</td>
    <td class="tg-yw4l">Basic Economics w/ TAR </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci B</td>
    <td class="tg-yw4l">Code of Ethics for Filipino IT Professionals</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">CWTS 102</td>
    <td class="tg-yw4l">Civic Welfare 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 102</td>
    <td class="tg-yw4l">Fundamentals of Rhythmic Activities</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">26</td>
  </tr>
</table>

				
				
				<h2>Second Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 4</td>
    <td class="tg-yw4l">Modern Communication 2 </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Philo 1</td>
    <td class="tg-yw4l">Philosophy of Man</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 5</td>
    <td class="tg-yw4l">Discrete Math 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 4</td>
    <td class="tg-yw4l">Physics 1</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 4</td>
    <td class="tg-yw4l">Politics & Governance w/ Phil Constitution</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 3</td>
    <td class="tg-yw4l">Fundamentals of Programming</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 4</td>
    <td class="tg-yw4l">Quality Consciousness Habit & Processes</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 103</td>
    <td class="tg-yw4l">Group Games</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">23</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Eng 5</td>
    <td class="tg-yw4l">Modern Communication 3</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 2</td>
    <td class="tg-yw4l">Statistics & Probabilty</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 4</td>
    <td class="tg-yw4l">Values Education/Professional Ethics</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PDPR</td>
    <td class="tg-yw4l">Personality Development & Public Relation</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 6</td>
    <td class="tg-yw4l">Society & Culture w/ Family Planning</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 5</td>
    <td class="tg-yw4l">Logic, Designs & Digital Computer Circuits</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 6</td>
    <td class="tg-yw4l">Data Structure</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">PE 4</td>
    <td class="tg-yw4l">Social Recreation</td>
    <td class="tg-yw4l">2</td>
  </tr>
  <tr>
    <td class=""></td>
    <td class=""></td>
    <td class="tg-yw4l">23</td>
  </tr>
</table>


<h2>Third Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Lit 1</td>
    <td class="tg-yw4l">Literature of the Philippines</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 6</td>
    <td class="tg-yw4l">Analysis 1 (Problem Solving w/ Quality Process) </td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Nat Sci 5</td>
    <td class="tg-yw4l">Physics 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 7</td>
    <td class="tg-yw4l">Principles of Programming Language</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 8</td>
    <td class="tg-yw4l">Principles of File Organization</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 9</td>
    <td class="tg-yw4l">Intro to Computer System Organization</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Mgt 1</td>
    <td class="tg-yw4l">Principles of Management</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Lit 2</td>
    <td class="tg-yw4l">Literature of the World</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Math 7</td>
    <td class="tg-yw4l">Abstract Algebra</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Fil 3</td>
    <td class="tg-yw4l">Retorika</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Soc Sci 7</td>
    <td class="tg-yw4l">Introduction to Sociology</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 10 </td>
    <td class="tg-yw4l">Operating System</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 11</td>
    <td class="tg-yw4l">ElectroMagnetism and Electricity</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 12</td>
    <td class="tg-yw4l">Principles of Data Base Management Systems</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
</table>



<h2>Fourth Year</h2>
			<h4>First Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Math 8</td>
    <td class="tg-yw4l">Discrete Math 2</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Art Educ</td>
    <td class="tg-yw4l">Art Appreciation/Education</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 13</td>
    <td class="tg-yw4l">Design Analysis of Algorithms</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 14</td>
    <td class="tg-yw4l">Assembly Language or C Language or Pascal</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci C</td>
    <td class="tg-yw4l">Computer Graphics</td>
    <td class="tg-yw4l">6</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Educ 1</td>
    <td class="tg-yw4l">Principles and Methods of Teaching</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci D</td>
    <td class="tg-yw4l">Object Oriented Programming</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
</table>

<h4>Second Semester</h4>
<table width="670" class="tg">
  <tr>
    <th class="tg-qsvf">Subject</th>
    <th class="tg-qsvf">Description</th>
    <th class="tg-qsvf">Units</th>
  </tr>
	<tr>
    <td class="tg-yw4l">Math 9</td>
    <td class="tg-yw4l">Calculus</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 15</td>
    <td class="tg-yw4l">Technical Writing & Presentation Skills in IT</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 16</td>
    <td class="tg-yw4l">Computer Design</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 17</td>
    <td class="tg-yw4l">Theory Computation</td>
    <td class="tg-yw4l">6</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 18</td>
    <td class="tg-yw4l">Automata Theory</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci 19</td>
    <td class="tg-yw4l">Principles of Data Communication & Networking</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Comp Sci E</td>
    <td class="tg-yw4l">Introduction to Software Engineering</td>
    <td class="tg-yw4l">3</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">21</td>
  </tr>
  </table>
  
  

		</div>
		</div>

<!--                                         -->


</body>

</html>
